<!DOCTYPE html>
<html>
<head>
    <title>DTP EfW App</title>
    
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="fonts/foundation-icons/foundation-icons.css">

    <!-- This is how you would link your custom stylesheet -->
    <link rel="stylesheet" href="css/app.css">

    <script src="js/vendor/modernizr.js"></script>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

</head>
<body>
    <section class="row">
    <div class="small-12 large-12 columns">

    <header class="row">
        <div class="small-4 large-4 columns">
            <a href="/" title="DTP Efw App">
                <img alt="SUEZ ENVIRONNEMENT" src="./images/logo-suez.png">
            </a>    
        </div>
        <div class="small-8 large-8 columns center">
            <div class="baseline">
                ready for the resource revolution
            </div>
        </div>
        </div>
        <div class="row">
        <div class="small-12 large-12 columns center">
            <h1>Welcome to the DTP EfW app</h1>
            <p class="sub-title">This page was rendered at <%= new Date() %>.</p>
        </div>
    </header>
    
    <nav class="row">
        <div class="icon-bar five-up small-12 large-12 columns">
          <a class="item">
            <i class="fi-home" ></i>
            <label>Plant card</label>
          </a>
          <a class="item">
            <i class="fi-graph-bar" ></i>
            <label>OEE</label>
          </a>
          <a class="item">
            <i class="fi-page-copy" ></i>
            <label>Documents</label>
          </a>
          <a class="item">
            <i class="fi-share" ></i>
            <label>Yammer</label>
          </a>
          <a class="item">
            <i class="fi-address-book" ></i>
            <label>Contact</label>
          </a>
        </div>
    </nav>

    <div class="row">
        <div class="small-4 large-4 columns large-centered small-centered">
            <h5>SITA France</h5>
            <h4>Région île de france</h4>
            <h3>C.I.E Créteil</h3>
        </div>
    </div>

    <div class="row">
        <hr>
        <div class="small-12 large-12 columns">
            <h3>Contact / Responsible</h3>
        </div>
        <div class="small-12 large-8 columns">
            <table>
                <thead>
                    <tr>
                      <th width="200"></th>
                      <th>Name</th>
                      <th width="150">Tel</th>
                      <th width="150">Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>Region manager</td>
                      <td>Patrick Tete</td>
                      <td></td>
                      <td><a href="mail:patrick.tete@suez-env.com">patrick.tete@suez-env.com</a></td>
                    </tr>
                    <tr>
                      <td>Plant director</td>
                      <td>Marie Christine VIRATELLE</td>
                      <td><a href="tel:0148985511">01 48 98 55 11</a></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Plant manager</td>
                      <td>Christian CAZEMAJOU</td>
                      <td></td>
                      <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="small-12 large-4 columns">
            <img src="./images/cie-creteil.jpg">
        </div>
    </div>    
    
    <div class="row">
        <div class="small-12 large-12 columns">
            <hr>
            <h3>Contract / Date / Waste type</h3>
        </div>
    </div>

    <div class="row">
        <div class="small-4 large-12 columns">
            <div class="small-6 large-4 columns">
                <input id="a" type="number">
            </div>
            <div class="small-6 large-4 columns">
             + <input id="b" type="number">
            </div>
            <div class="small-6 large-4 columns">
                <input id="add" type="submit" value="Add">
            </div>
            <div class="small-6 large-4 columns">
                <span id="result"></span>
            </div>
        </div>
    </div>
    
     <div class="row">
        <hr>
        <div class="small-12 large-12 columns">
            <h3>Boiler / Furnace</h3>
        </div>
        <div class="small-12 large-6 columns">
            <table>
                <thead>
                    <tr>
                      <th width="200"></th>
                      <th>Line 1</th>
                      <th>Line 2</th>
                      <th>Line 3</th>
                      <th>Line 4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>Incineration capacity [t/a]</td>
                      <td>110 000</td>
                      <td>110 000</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Furnace capacity [t/h]</td>
                      <td>15</td>
                      <td>15</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Furnace type</td>
                      <td>Grid</td>
                      <td>Grid</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>LHV nominal [MJ/kg]</td>
                      <td>9,628</td>
                      <td>9,628</td>
                      <td></td>
                      <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="small-12 large-6 columns">
            <table>
                <thead>
                    <tr>
                      <th width="200"></th>
                      <th>Line 1</th>
                      <th>Line 2</th>
                      <th>Line 3</th>
                      <th>Line 4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <td>Boiler pressure [bar]</td>
                      <td>46</td>
                      <td>46</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Boiler temperature [°C]</td>
                      <td>360</td>
                      <td>360</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Boiler efficiency [%]</td>
                      <td>80,5</td>
                      <td>80,5</td>
                      <td></td>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Steam production [t/h]</td>
                      <td>45</td>
                      <td>45</td>
                      <td></td>
                      <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    </div>
    </section>

    <script src="script.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://localhost:1337');
    </script>

    <script src="js/foundation.min.js"></script>
</body>
</html>